{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <h1 id="about_us_header">About Us</h1>
    <div id="about">
        Welcome to the cocktail life guide. I am here to help you find, research,<br> and create
        your favorite cocktails. I have information on the 50 most <br>popular cocktails out there
        and I would like to share them to you. <br>Time and time again I have tried delicious
        cocktails but had no idea <br>what I was tasting. By the time I thought to take a picture of the<br>
        cocktail to remember later, I have already finished the drink. To solve<br> this dilemma I bring
        you my cocktail guide. Browse through each <br>cocktail's picture if you don't remember the
        name of the cocktail.<br> If you do please search for your cocktail and learn to make it at the
        <br>comfort of your home.
    </div>
    <img id='pic1' src="https://images.unsplash.com/photo-1551024709-8f23befc6f87?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1125&q=80">


{% endblock %}