<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--link rel="stylesheet" href="static/css/main.css"-->
        <script src="static/js/main.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>Cocktail Life Guide </title>
        <link rel="icon" href="data:,">
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav>
            <label class="logo">Cocktail Life Guide</label>
            <ul>
                <li><a href="home" class="active">Home</a></li>
                <li><a href="aboutus">About Us</a></li>
                <li><a href="#">Search</a></li>
            </ul>
        </nav>

        <div class="container">
            {% block body %}{% endblock %}
        </div>

    </body>
</html>