{% extends 'base.html' %}

{% block head %}

{% endblock %}




{% block body %}
    <h3 id='result_header'>
        Click on any cocktail icon below to view its ingredients and instructions how to make it!
    </h3>
    <div class="ct_container">
        <ul>
            <li> <div class="bottom" id="espresso_martini">ESPRESSO MARTINI</div></li>
            <li> <div class="bottom" id="french_75">FRENCH 75</div> </li>
            <li> <div class="bottom" id="gimlet">GIMLET</div> </li>
            <li> <div class="bottom" id="mai_tai">MAI TAI</div> </li>
            <li> <div class="bottom" id="manhattan">MANHATTAN</div> </li>
            <li> <div class="bottom" id="margarita">MARGARITA</div> </li>
            <li> <div class="bottom" id="mojito">MOJITO</div> </li>
            <li> <div class="bottom" id="moscow_mule">MOSCOW MULE</div> </li>


        </ul>
    </div>
    <div class="prev_button">
        <a href="home">Previous Page</a>
    </div>
    <div class="next_button">
        <a href="results_3">Next Page</a>
    </div>
{% endblock %}