{% extends 'base.html' %}

{% block head %}

{% endblock %}




{% block body %}
    <h3 id='result_header'>
        Click on any cocktail icon below to view its ingredients and instructions how to make it!
    </h3>
    <div class="ct_container">
        <ul>
            <li> <div class="bottom" id="old_fashioned">OLD FASHIONED</div> </li>
            <li> <div class="bottom">NEGRONI</div> </li>
            <li> <div class="bottom">DAIQUIRI</div> </li>
            <li> <div class="bottom">DRY MARTINI</div> </li>
            <li> <div class="bottom">MARGARITA</div> </li>
            <li> <div class="bottom">ESPRESSO MARTINI</div> </li>
            <li> <div class="bottom">WHISKEY SOUR</div> </li>
            <li> <div class="bottom">MANHATTAN</div> </li>
        </ul>
    </div>
    <div class="page_button">
        <a href="#">Next Page</a>
    </div>
{% endblock %}