{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}
<h3>Browse through our collection of cocktails</h3>
<div>
    <ul class="search_ul">
        <a href="americano"> <li class="search_li"></li>Americano </a>
        <a href="aperol_spritz"> <li class="search_li"></li>Aperol Spritz </a>
        <a href="bloody_mary"> <li class="search_li"> </li>Bloody Mary </a>
        <a href="clover_club"> <li class="search_li"></li>Clover Club </a>
        <a href="corpse_reviver"> <li class="search_li" ></li>Corpse Reviver </a>
        <a href="daiquiri"> <li class="search_li"> </li>Daiquiri </a>
        <a href="dark_n_stomry"> <li class="search_li"></li>Dark N Stormy </a>
        <a href="dry_martini"> <li class="search_li"></li>Dry Martini </a>
        <a href="espresso_martini"> <li class="search_li"></li>Espresso Martini </a>
        <a href="french_75"> <li class="search_li"></li>French 75 </a>
        <a href="gimlet"> <li class="search_li"></li>Gimlet </a>
        <a href="mai_tai"> <li class="search_li"></li>Mai Tai </a>
        <a href="manhattan"> <li class="search_li"></li>Manhattan </a>
        <a href="margarita"> <li class="search_li"></li>Margarita </a>
        <a href="mojito"> <li class="search_li"></li>Mojito </a>
        <a href="moscow_mule"> <li class="search_li"></li> Moscow Mule</a>
        <a href="negroni"> <li class="search_li"></li>Negroni </a>
        <a href="old_fashioned"> <li class="search_li"></li>Old Fashioned </a>
        <a href="paloma"> <li class="search_li"></li> </a>
        <a href="penicillin"> <li class="search_li"></li>Penicillin </a>
        <a href="pisco_sour"> <li class="search_li"></li>Pisco Sour </a>
        <a href="sazerac"> <li class="search_li"></li>Sazerac </a>
        <a href="vieux_carre"> <li class="search_li"></li>Vieux Carre </a>
        <a href="whiskey_sour"> <li class="search_li"></li>Whiskey Sour </a>
    </ul>
</div>
{% endblock %}
